<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--widht=device-width:端末の幅　initial-scale:初期倍率-->
        <title>Roleplay</title>
        <link rel="stylesheet" href="/chat.css" >
    </head>
    <body>
        

        <section id="chat">
            <div id="nametag">ユーザー名：<%= usernamedata %></div>
            <div id="roomIdTag">ルームID：<%= roomiddata %></div>
            <ul id="messages"></ul>
            <div id="nextButton">
                <a href="/feedback">がくしゅうをおわる</a>
            </div>
            <div id="finishButton">
                <a href="/multifeedback">がくしゅうをおわる</a>
            </div>
            <form id="form" action="">
                <input id="input" autocomplete="off" /><button>おくる</button><button id="rolebutton" type="button">ロールカード</button><button id="pointoutbutton" type="button">してきする</button>
            </form>
            
        </section>

        <dialog id="roleCard">
            <div class="inner">
                <div class="header">シチュエーション<span id="sceneNumber"></span></div>
                <div class="body">
                    <p><span id="role"></span></p>
                </div>
                <div class="footer">
                    <button class="button ok">OK</button>
                </div>
            </div>
        </dialog>

        <dialog id="pointout">
            <div class="inner">
                <div class="header">してき</div>
                <div class="body">
                    <p>まちがっているとおもうことばと、<br>ただしいとおもうことばを 入力してください</p>
                    <form id="pointout-form">
                        <div>
                            <input type="text" autocomplete="off" id="wrong" name="wrong" placeholder="まちがっていることば">
                        </div>
                        <div>
                            <input type="text" autocomplete="off" id="correct" name="correct" placeholder="ただしいことば">
                        </div>
                        <div class="footer">
                            <button class="button send">おくる</button><button class="button cancel">とじる</button>
                        </div>
                    </form>
                </div>
            </div>
        </dialog>


        <script src="/socket.io/socket.io.js"></script> 
            <script>
                const socket = io();

                const username = '<%= usernamedata %>'
                const roomid = '<%= roomiddata %>'
                const joinorcreate = '<%= joinorcreate %>'
                const mode = '<%= mode %>'
                const form = document.getElementById('form');
                const input = document.getElementById('input');
                const rolebutton = document.getElementById('rolebutton');
                const messages = document.getElementById('messages');
                const dialog = document.querySelector('#roleCard');
                const okButton = document.querySelector('#roleCard .button.ok');
                
                const pointoutbutton = document.getElementById('pointoutbutton');
                const pointoutform = document.getElementById('pointout-form');
                const wrong = document.getElementById('wrong');
                const correct = document.getElementById('correct');
                const pointoutdialog = document.querySelector('#pointout');
                const sendButton = document.querySelector('#pointout .button.send');
                const cancelButton = document.querySelector('#pointout .button.cancel');

                const nextButton = document.getElementById('nextButton');
                const finishButton = document.getElementById('finishButton');
                nextButton.style.visibility = 'hidden';
                if(mode === 'single'){
                    finishButton.style.visibility = 'hidden';
                    nextButton.style.visibility = 'hidden';
                }else{
                    finishButton.style.visibility = 'visible';
                    nextButton.style.visibility = 'hidden';
                }
                socket.emit('start', username, roomid, joinorcreate);
                
                if(joinorcreate === 'joinRoom'){
                    socket.emit('join room message');
                }
                
                form.addEventListener('submit', (e) => { //フォームがサブミットされたとき
                    e.preventDefault(); //submitイベントの発生元であるフォームが持つデフォルトの動作(フォームの内容を指定したURLへ送信)をキャンセル
                    if (input.value) { //input.valueに値が入ったら
                        socket.emit('chat message', input.value); //送信
                        input.value = ''; //フォームの中身を空にする
                    }
                });


                rolebutton.addEventListener('click', (e) => {
                    dialog.show();
                })

                socket.on('displayRole',(sceneNumber,role) => {
                    document.getElementById('sceneNumber').innerHTML = sceneNumber;
                    document.getElementById('role').innerHTML = role;
                    dialog.show();
                })
                socket.on('chat message', (msg) => {
                    const item = document.createElement('li');
                    item.textContent = msg;
                    messages.appendChild(item); //messagesに届いたメッセージを追加
                    window.scrollTo(0, document.body.scrollHeight); //文書内の特定の組み合わせの場所までスクロール　水平軸上は0　水平軸上は伸びた分
                });

                okButton.addEventListener('click', function () {
                    dialog.close();
                });

                pointoutbutton.addEventListener('click', (e) => {
                    pointoutdialog.show();
                })

                socket.on('displayButton', () => {
                    nextButton.style.visibility = 'visible';
                })

                

                pointoutform.addEventListener('submit', (e) => {
                    e.preventDefault();
                    if (wrong.value && correct.value) { //input.valueに値が入ったら
                        socket.emit('pointout', wrong.value, correct.value); //送信
                        pointoutdialog.close();
                        wrong.value = ''; //フォームの中身を空にする
                        correct.value = ''; //フォームの中身を空にする
                    }
                });

                cancelButton.addEventListener('click', (e) => {
                    e.preventDefault(); 
                    pointoutdialog.close();
                })
            </script>
        
    </body>
</html>